@import "~@cockroachlabs/design-tokens/dist/web/tokens";

.link {
  color: $color-core-blue-3;
  display: inline-block;
}

.link:hover {
  border-bottom: 1px solid $color-core-blue-3;
  cursor: pointer;
}

.disabled {
  opacity: 0.4;
}

.disabled:hover {
  border: none;
  cursor: not-allowed;
}
