.indent {
  margin-left: 1.875rem;
}

.notifications-widget {
  //       22px     40px   28px    26px
  padding: 1.375rem 2.5rem 1.75rem 1.625rem;
}

.messages {
  margin: 1rem 0 0 0;
}

.widget-footer-link {
  font-weight: 400;
  padding: 0 1rem;
}
