@import "~@cockroachlabs/design-tokens/dist/web/tokens";
@import "../core/index.module.scss";

.notification-message {
  font-family: "SourceSansPro-Regular", sans-serif;
  padding-left: 28px;
  position: relative;
}

.message-frame {
  border-bottom: 1px solid $color-core-neutral-3;
  padding: 8px 13px 0;
  .notification-message:hover & {
    background-color: $color-core-neutral-1;
  }
}

.unread {
  position: relative;
}

.unread::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 16px;
  height: 10px;
  width: 10px;
  background-color: $color-core-blue-3;
}

.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;

  .notification-message:hover & {
    color: $color-core-blue-3;
  }
}

.description {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.timestamp {
  margin: 16px 0 8px;
}

.severity {
  position: absolute;
  top: 8px;
  right: 10px;
}
